body{
    margin: 0px;
    background-color:rgb(129, 210, 199);
}
label{
    font-family: nunito;
    color: white;
}
p{
    margin-right: 40%;
    font-family: nunito;
    color: white;
}
span{
    color: white;   
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 4px;
    font-family: nunito;
}

#titolo_login{
    font-family: nunito;
    text-align: center;
    color: white;
} 
#img{
    height: 100px;
    width: 210px;
    background-color: white;
    margin-right: 2px;
}   
#header1{
    padding: 1%;
    height: 30px;
    background-color: white;
}
#header2{
    padding: 0.5%;
    height: 30px;
    background-color:rgb(65, 103, 136);
}
footer{
    padding: 0.5%;
    height: 50px;
    position: sticky;
    background-color: rgb(65, 103, 136);
}
.class{
    float: left;
    margin-left: 10px;
    margin-right: 5px ;
}
#img:hover{
    border: 1px solid black;
}
#credits{
    background-color: white;
    
    height: auto;
    width: auto; 
}
h1{
    font-family: nunito;
    color: white;
}
#format{
    text-align: center;
    border: 2px solid white;
    border-radius: 12px;
    height: 200px;
    width: 200px;
    padding: 2%;
    margin: auto;
    background: linear-gradient(90deg, rgb(65, 103, 136)10%, rgb(115, 137, 174) 50%, rgb(181, 186, 208) 100%);
}
#formatRegister{
    text-align: center;
    border: 2px solid white;
    border-radius: 12px;
    height: 290px;
    width: 200px;
    padding: 2%;
    margin: auto;
    background: linear-gradient(90deg, rgb(65, 103, 136)10%, rgb(115, 137, 174) 50%, rgb(181, 186, 208) 100%);
}
#login{
    border-radius: 5px;
    padding: 12px;
    width: 120px;
    border-color: transparent;
    font-family: nunito;
    background-color:rgb(65, 103, 136);
    color: antiquewhite;
}
.bottone-gruppo button{
    margin: 0.5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 16px;
    border-color: transparent;
    color: white;
    background-color:rgb(65, 103, 136);
    font-family: nunito;
}
.sinistra{
    float: left;
}
.destra{
    float: right;
}
.bottone-gruppo:after {
    content: "";
    clear: both;
    display: table;
}

.bottone-gruppo button:not(:last-child){
    border-right: none;
}
.bottone-gruppo button:hover{
    color: black;
    background-color: rgb(129, 210, 199);
}
.bottone2{
    float: right;
    margin: 0.5px;
    border-color: transparent;
    color: white;
    background-color:rgb(0, 83, 119);
    border-radius: 5%;
    font-family: nunito;
}
#logo{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
#home{
    position: relative;
     padding: 0;
}
#ico2{
    float: left;
    width: 20px;
    height: 20px;
    border-width: 0; margin: 0; padding: 0;
    position: absolute; top: 0; left: 0;
    visibility: hidden;
}

#login:hover {
    color: black;
    background-color: rgb(129, 210, 199);
}
.imgSite{
    margin-top: 20px;
    margin-left: 20px;
    height: 150px;
    width: 300px;
    align-self: baseline;
}
.imgSite:hover{
    height: 200px;
    width: 350px;
}
.contenitore{
    display: flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
}
.caselle{
    margin: auto;
    border-color: transparent;
    border-radius: 12px;
    width: 80%;
}
.caselle:hover{
    border-style:groove;
    border-color: rgb(0, 83, 119);
}
#loginForm{
    margin-left:20% ;
    text-align: justify;
}
#piedi{
    position: relative;
    float: left;
}
.foto-piedi{
    margin: auto;
    width: 100px;
    height: 50px;
}
.logo-piedi{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 3px;
}
#social{
    width: 200px;
    height: 50px;
    position: relative;
    float: right;
}
#testo-foot{
    margin-top: 0;
    margin-bottom: 0;
}
.foto-centro{
    margin-top: 40px;
    height: 500px;
    width: 800px;
}
#body{
    
    padding: 2%;
    margin: auto;
    width: 800px;
}
.testo-centro{
    font-family: nunito;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
h1{
    font-family: nunito;
    margin: 10px;
}
.auto-fig{
    height: 150px;
    width: 300px;
}
.figurina{
    border: 2px solid black;
    font-family: nunito ;
    font-size: small;
    position: relative;
    height: 200px;
    width: 350px;
    float: left;
    margin: 10px;
    padding: 20px;
}
